{{ define "main" }}
    {{ $count := len (where site.RegularPages "Params.categories" "in" .Title) }}
    <h1 id="{{ .Title | urlize }}">{{ .Title | markdownify }}{{ if gt $count 0 }}<span class="term-count">（{{ $count }}）</span>{{ end }}</h1>

    {{ .Content }}

    <ul>
    {{ range .Pages }}
        {{ if .IsPage }}
        <li style="margin-bottom: 4px;">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006-01-02" }}</time>
            {{ with .Description }}
            <span class="post-description"
                  style="display: block;
                         font-size: 0.9em;
                         opacity: 0.8;
                         margin-top: 2px">{{ . }}</span>
            {{ end }}
        </li>
        {{ else }}
        {{ $c := len (where site.RegularPages "Params.categories" "in" .Title) }}
        <li><a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>{{ if gt $c 0 }}<span class="term-count">（{{ $c }}）</span>{{ end }}</li>
        {{ end }}
    {{ end }}
    </ul>

{{ end }}

{{define "aside" }}
    {{ if .Params.description }}<p>{{ .Params.description }}</p>{{ end }}
{{ end }}
