/* Code copy button */
.highlight {
  position: relative;
}

.code-copy {
  position: absolute;
  top: 0.3rem;
  right: 0.6rem;
  padding: 0.1rem 0.4rem;
  font-family: var(--font-monospace);
  font-size: 0.95rem;
  line-height: 1.2;
  color: var(--fg);
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  cursor: pointer;
}

.code-copy:hover {
  color: var(--link);
  border-color: var(--inner-bg);
}
